@model Loja.Application.Dtos.CompradorDto

@{
    ViewData["Title"] = "Cadastrar Novo Comprador";
}

<h1>Cadastrar Novo Comprador</h1>

<h4>Comprador</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="NomeRazaoSocial" class="control-label">Nome/Razão Social</label>
                <input asp-for="NomeRazaoSocial" class="form-control" placeholder="Nome completo ou Razão Social do Cliente" data-toggle="tooltip" title="Nome completo ou Razão Social do Cliente" />
                <span asp-validation-for="NomeRazaoSocial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">E-mail</label>
                <input asp-for="Email" class="form-control" placeholder="E-mail do Cliente" data-toggle="tooltip" title="E-mail do Cliente" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefone" class="control-label">Telefone</label>
                <input asp-for="Telefone" class="form-control" placeholder="(##) #####-####" data-toggle="tooltip" title="Telefone do Cliente" />
                <span asp-validation-for="Telefone" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TipoPessoa" class="control-label">Tipo de Pessoa</label>
                <select asp-for="TipoPessoa" class="form-control" data-toggle="tooltip" title="Selecione o tipo de Pessoa">
                    <option value="Fisica">Física</option>
                    <option value="Juridica">Jurídica</option>
                </select>
                <span asp-validation-for="TipoPessoa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CpfCnpj" class="control-label">CPF/CNPJ</label>
                <input asp-for="CpfCnpj" class="form-control" data-toggle="tooltip" title="Insira o CPF ou o CNPJ do Cliente" />
                <span asp-validation-for="CpfCnpj" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InscricaoEstadual" class="control-label">Inscrição Estadual</label>
                <input asp-for="InscricaoEstadual" class="form-control" data-toggle="tooltip" title="Inscrição Estadual do Cliente, selecionar Isento caso assim for" />
                <span asp-validation-for="InscricaoEstadual" class="text-danger"></span>
            </div>
            <div class="form-check">
                <input asp-for="Isento" class="form-check-input" type="checkbox" data-toggle="tooltip" title="Selecionar Isento caso assim for" />
                <label asp-for="Isento" class="form-check-label">Isento</label>
                <span asp-validation-for="Isento" class="text-danger"></span>
            </div>
            <div class="form-check">
                <input asp-for="InscricaoEstadualPessoaFisica" class="form-check-input" type="checkbox" data-toggle="tooltip" title="Inscrição Estadual para Pessoa Física" />
                <label asp-for="InscricaoEstadualPessoaFisica" class="form-check-label">Inscrição Estadual para Pessoa Física</label>
                <span asp-validation-for="InscricaoEstadualPessoaFisica" class="text-danger"></span>
            </div>
            <div class="form-group fisica-only">
                <label asp-for="Genero" class="control-label">Gênero</label>
                <select asp-for="Genero" class="form-control" data-toggle="tooltip" title="Selecione o gênero do Cliente">
                    <option value="">Selecione</option>
                    <option value="Masculino">Masculino</option>
                    <option value="Feminino">Feminino</option>
                    <option value="Outro">Outro</option>
                </select>
                <span asp-validation-for="Genero" class="text-danger"></span>
            </div>
            <div class="form-group fisica-only">
                <label asp-for="DataNascimento" class="control-label">Data de Nascimento</label>
                <input asp-for="DataNascimento" type="date" class="form-control" data-toggle="tooltip" title="Data de nascimento do Cliente" />
                <span asp-validation-for="DataNascimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Senha" class="control-label">Senha</label>
                <input asp-for="Senha" type="password" class="form-control" data-toggle="tooltip" title="Cadastre a senha de acesso do seu Cliente" />
                <span asp-validation-for="Senha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmacaoSenha" class="control-label">Confirmação de Senha</label>
                <input asp-for="ConfirmacaoSenha" type="password" class="form-control" data-toggle="tooltip" title="Confirmação de Senha" />
                <span asp-validation-for="ConfirmacaoSenha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Bloqueado" class="form-check-input" type="checkbox" data-toggle="tooltip" title="Bloqueio o acesso do Cliente na sua Loja" />
                <label asp-for="Bloqueado" class="form-check-label">Bloqueado</label>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Voltar para a lista</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();

            // Apply masks
            $('#CpfCnpj').mask('000.000.000-00', { reverse: true });
            $('#Telefone').mask('(00) 00000-0000');
            $('#InscricaoEstadual').mask('000.000.000-000');

            $('#TipoPessoa').change(function () {
                var tipoPessoa = $(this).val();
                if (tipoPessoa === 'Fisica') {
                    $('#CpfCnpj').mask('000.000.000-00', { reverse: true });
                    $('.fisica-only').show();
                    $('.juridica-only').hide();
                } else if (tipoPessoa === 'Juridica') {
                    $('#CpfCnpj').mask('00.000.000/0000-00', { reverse: true });
                    $('.fisica-only').hide();
                    $('.juridica-only').show();
                }
            }).trigger('change');

            $('#Isento').change(function () {
                if ($(this).is(':checked')) {
                    $('#InscricaoEstadual').prop('disabled', true);
                } else {
                    $('#InscricaoEstadual').prop('disabled', false);
                }
            }).trigger('change');
        });
    </script>
}